/* Fonts
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,600);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700);
@import url(https://fonts.googleapis.com/css?family=Fira+Sans:400,300,500);

/* Shared
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button {
  border-radius: 100px;
}

/* Nav buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#nav-buttons {
  margin-top: 3rem;
}

/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section {
  padding: 5rem 0 5rem;
  text-align: center;
}
.section-heading,
.section-description {
  margin-bottom: 1.2rem;
}

/* Page-Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-section {
  background-color: #fff;
  background-size: cover;
  color: #222;
  padding-bottom: 5rem;
  text-align: left;
}
.page-section-heading{
  font-weight: 300;
  color: #F29105;
}
.page-section-heading,
.page-section-description {
  margin-bottom: 1.2rem;
}

.page-section-description.h2 {

}

#professional {
  /*background-color: #36454F;*/
  /*color: #fff;*/
  background-color: #f2f2f2;
  color: #222;
}

#dabble {
  /*background-color: #722F37;*/
  background-color: #fff;
}

#contact {
  /*background-color: #36454F;*/
  /*color: #fff;*/
  background-color: #f2f2f2;
  color: #222;

}

/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.hero {
    padding: 8rem 0 8rem;
}

.hero-themed {
  color: #F29105;
}

/*Bigger than 550 */
@media (min-width: 550px) {
  .section {
    padding: 10rem 0 9rem;
  }
  .hero {
    padding-bottom: 12rem;
    text-align: center;
    min-height: 200px;
  }
  .hero-heading-name {
    /*font-size: 2.6rem;*/
    text-align: center;
  }
  .hero-heading-tag {
    /*font-size: 2.0rem;*/
    text-align: center;
  }
}

/* Bigger than 750 */
@media (min-width: 750px) {
  .hero {
    height: 190px;
  }
  .hero-heading-name {
    /*font-size: 3.0rem;*/
  }
  .hero-heading-tag {
    /*font-size: 2.4rem;*/
  }
  .section {
    padding: 14rem 0 15rem;
  }
  .hero {
    padding: 18rem 0 18rem;
  }
  .section-description {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Bigger than 1000 */
@media (min-width: 1000px) {
  .section {
    padding: 16rem 0 16rem;
  }
  .hero {
    padding: 24rem 0 24rem;
  }
  .hero-heading-name {
    font-size: 3.4rem;
  }
  .hero-heading-tag {
    font-size: 2.8rem;
  }
}